button {
    margin: 5px;
}

#indicator-curve {
    fill: transparent;
    stroke: black;
}

#zero-line {
    fill: transparent;
    stroke: gray;
    stroke-width: 2;
}

.recession {
    fill: red;
    opacity: 0.2;
}

