body {
    font-family: "Tahoma", Geneva, sans-serif;
}

.h2-tagline {
    font-style: italic;
}

button {
    margin: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 12px 32px;
    font-size: 16px;
    font-family: "Tahoma", Geneva, sans-serif;
    cursor: pointer;
}

button.selected {
    background-color: black;
    color: white;
}

.overlay {
    fill: none;
    pointer-events: all;
    cursor: crosshair;
}

#hover-line {
    fill: gray;
    stroke-width: 0;
}

.hover-text {
    font-size: 13px;
}

.hover-label-date {
    font-style: bold;
}

#hover-label-rect {
    fill: white;
    stroke: none;
    opacity: 0.7;
}

#indicator-curve {
    fill: transparent;
    stroke: black;
}

.axis-label {
    font-size: 12px;
    text-anchor: middle;
}

.recession {
    fill: red;
    opacity: 0.2;
}

.event-label {
    text-anchor: end;
    fill: red;
    opacity: 0.5;
}

#today-label {
    fill: blue;
    opacity: 1;
}

#today-line {
    fill: blue;
    stroke-width: 0;
}

#zero-line {
    fill: transparent;
    stroke: black;
    stroke-width: 1;
}

