body {
    font-family: "Tahoma", Geneva, sans-serif;
}

button {
    margin: 5px;
}

#indicator-curve {
    fill: transparent;
    stroke: black;
}

.axis-label {
    font-size: 12px;
    text-anchor: middle;
}

.recession {
    fill: red;
    opacity: 0.2;
}

.event-label {
    text-anchor: end;
    fill: red;
    opacity: 0.5;
}

#today-label {
    fill: blue;
    opacity: 1;
}

#today-line {
    fill: blue;
    stroke-width: 0;
}

#zero-line {
    fill: transparent;
    stroke: black;
    stroke-width: 1;
}

